/* Header */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* background-color: black; */
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
a {
    text-decoration: none;
}
#bg-asli {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    /* background-color: red; */
}
#bg-gambar {
    background-image: url("/img/bg.png");
    /* position: fixed; */
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* HEADER */
#bg-header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: sticky;
    display: inline;
}
#bo-header {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
#kiri-header {
    width: 45%;
    margin: 0 auto;
    padding: 20px 5px;
    float: left;
}
#atas-header {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
#atas-header h1 {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
}
#bawah-header {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
#bawah-header h1 {
    width: 100%;
    padding: 0 70px;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
}
#kanan-header {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    float: right;
}
#kanan-header ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    float: left;
}
#kanan-header ul li {
    margin: 0 auto;
    padding: 34px 21px;
    display: inline-block;
}
#kanan-header ul .kuning {
    background-color: yellow;
    color: black;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 15px;
}
#kanan-header ul li a {
    color: #fff;
}

#kontol {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/* JUDUL */

#bg-judul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
#bo-judul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
#bungkusjudul {
    width: 50%;
    margin: 15% auto 25% auto;
    padding: 0 10px;
    float: left;
    /* position: absolute; */
}
#atas-judul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#atas-judul h1 {
    color: #fff;
    font-size: 46px;
    font-family: Times;
}
#bawah-judul {
    width: 100%;
    margin: 10px auto;
    padding: 0;
}
#bawah-judul h3 {
    font-weight: normal;
    color: #fff;
}

/* MOTTO */

#bg-motto {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #00572d;
    /* border-radius: 20% 20% 0 ; */
}
#bo-motto {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
#bungkusmotto {
    width: 70%;
    margin: 0 auto;
    padding: 0 0 100px 0;
    text-align: center;
}
#logomotto {
    padding: 50px;
}
#logomotto img {
    height: 70px;
    border-radius: 50%;
}
#motto h2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px 0;
    font-size: 36px;
    line-height: 46px;
    font-family: "Courier New", Courier, monospace;
    color: #ffff33;
}
#motto h3 {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Courier New", Courier, monospace;
    color: #ffff33;
}

/* ABOUT */

#about-color {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #00572d;
    /* border-radius: 20% 20% 0 ; */
}
#bg-about {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fffbe5;
    border-radius: 55px 55px 0 0;
}
#bo-about {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
#bungkus-about {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0 70px 0;
}
#img-about {
    width: 47%;
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
}
#img-about img {
    height: 612px;
    width: 439px;
    border-radius: 20px;
}
#about {
    width: 50%;
    margin: 200px auto;
    padding: 0;
    display: inline-block;
    float: inline-end;
}
#about h2 {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 20px;
    background-color: #fffbe5;
    color: #999900;
    font-family: "Courier New", Courier, monospace;
}
#about h1 {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    font-size: 42px;
    font-family: "Courier New", Courier, monospace;
}
#about h3 {
    width: 100%;
    padding: 5px 0 30px 0;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 16px;
}

/* VISI MISI */

#bg-visi {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #00572d;
}
#bo-visi {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
#bungkus-visi {
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
#visi {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    float: left;
    text-align: center;
}
#visi img {
    padding: 24px 0;
    margin: 0 auto;
}
#visi h1 {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    color: #ffff33;
}
#visi h3 {
    width: 80%;
    padding: 0;
    line-height: 28px;
    color: #ffff33;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    display: inline-block;
}
#misi {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    float: left;
}
#misi img {
    padding: 24px 0;
    margin: 0 auto;
}
#misi h1 {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    color: #ffff33;
}
#misi h3 {
    width: 80%;
    padding: 0;
    line-height: 28px;
    color: #ffff33;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    display: inline-block;
}

/* OUR SERPIS */

#bg-ourserpis {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}
#bo-ourserpis {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
#bungkus-ourserpis {
    width: 50%;
    float: left;
    padding: 100px 0 50px 0;
    margin: 0 auto;
}
#bungkus-ourserpis h1 {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    color: #999900;
}
#bungkus-ourserpis h3 {
    width: 100%;
    padding: 10px 0 20px 0;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: #000;
    font-weight: lighter;
    line-height: 24px;
}

/* FITUR SERPIS */
#bg-fiturserpis {
    width: 100%;
    padding: 0 0 100px 0;
    margin: 0 auto;
}
#bo-fiturserpis {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
#bungkus-serpis {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
#cover-serpis {
    width: 20%;
    padding: 20px;
    margin: 0 5px;
    float: left;
    background-color: #ffffcc;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#cover-serpis img {
    padding: 20px 0;
    margin: 0 auto;
}
#cover-serpis h1 {
    color: #000;
    font-size: 24px;
    padding: 10px 0 20px 0;
    font-family: "Courier New", Courier, monospace;
}
#cover-serpis h3 {
    color: #000;
    font-size: 16px;
    padding: 10px 0 20px 0;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
}
#cover-serpis1 {
    width: 20%;
    padding: 20px;
    margin: 0 5px;
    float: left;
    background-color: #f0f0f0;
    border: 1px #ffdf33 solid;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#cover-serpis1 img {
    padding: 20px 0;
    margin: 0 auto;
}
#cover-serpis1 h1 {
    color: #000;
    font-size: 24px;
    padding: 10px 0 20px 0;
    font-family: "Courier New", Courier, monospace;
}
#cover-serpis1 h3 {
    color: #000;
    font-size: 16px;
    padding: 10px 0 20px 0;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
}

/* Catalog */

#bg-catalog {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
#bo-catalog {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
#bungkus-catalog {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}
#kiri-catalog {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    float: left;
}
#kiri-catalog h3 {
    background-color: #ffffe5;
    color: #999900;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
    border-radius: 10px;
}
#kiri-catalog h1 {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 42px;
    font-family: "Courier New", Courier, monospace;
}
#kanan-catalog {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    float: left;
}
#kanan-catalog h3 {
    width: 100%;
    padding: 65px 0 20px 0;
    margin: 0 auto;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
}

/* PRODUK */
#bg-produk {
    width: 100%;
    padding: 0;
    margin: 0 auto 50px 0;
    align-items: center;
    display: flex;
}
#bo-produk {
    width: 80%;
    padding: 0;
    align-items: center;
    margin: 0 auto;
}
#bungkus-produk {
    width: 26%;
    float: left;
    padding: 30px;
    margin: 0 5px;
    background-color: #00572d;
    border-radius: 20px;
}
#bungkus-produk img {
    width: 100%;
    height: 100%;
}
#bungkus-produk h1 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    text-align: center;
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    color: #fff;
}
#bungkus-produk h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    /* text-align: center; */
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    color: #fff;
}
#bungkus-produk2 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#bungkus-produk2 h3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}
#tokped {
    float: left;
    width: 47%;
    margin: 0 5px 0 0;
    padding: 0;
    background-color: #fff;
    border-radius: 20px;
}
#shopee {
    float: left;
    width: 47%;
    margin: 0 0 0 5px;
    border-radius: 20px;
    padding: 0;
    background-color: #fff;
}
#img-tokped {
    width: 25%;
    margin: 0 auto;
    padding: 5px 7px;
    float: left;
}
#img-tokped img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 8px 0 5px 0;
}
#judul-tokped {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    float: left;
    padding-bottom: 10px;
}
#judul-tokped h1 {
    color: #139003;
    font-size: 12px;
}
#img-shopee {
    width: 25%;
    margin: 0 auto;
    padding: 5px 7px;
    float: left;
}
#img-shopee img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 8px 0 5px 0;
}
#judul-shopee {
    width: 60%;
    margin: 0 auto;
    /* padding: 0; */
    float: left;
    padding-bottom: 10px;
}
#judul-shopee h1 {
    color: #139003;
    font-size: 12px;
}

/* CLIENT */
#bg-client {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#bo-client {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 100px 0;
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 20px;
}
#client-header {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 20px 0;
}
#bg-xxx {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.bungkus-client {
    width: 100%;
    margin: 5px auto;
    padding: 0;
    display: inline-flex;
    float: left;
    align-items: center;
}
.client {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* foto */
.container {
    width: 1186px;
    height: 926px;
    position: relative;
    margin: 0 auto;
}

.activity {
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Specific activity positioning */
.activity1 {
    width: 401px;
    height: 260px;
    left: 36px;
    top: 27px;
}

.activity2 {
    width: 241px;
    height: 316px;
    left: 36px;
    top: 318px;
}

.activity3 {
    width: 559px;
    height: 316px;
    left: 301px;
    top: 318px;
}

.activity4 {
    width: 269px;
    height: 235px;
    left: 880px;
    top: 399px;
}

.activity5 {
    width: 241px;
    height: 235px;
    left: 36px;
    top: 665px;
}

.activity6 {
    width: 241px;
    height: 235px;
    left: 301px;
    top: 665px;
}

.activity7 {
    width: 583px;
    height: 235px;
    left: 566px;
    top: 665px;
}

.activity8 {
    width: 401px;
    height: 260px;
    left: 459px;
    top: 27px;
}

.activity9 {
    width: 269px;
    height: 347px;
    left: 880px;
    top: 27px;
}
