@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafaff;
}

#bg-navbar {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #00572d;
}

#navbar {
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
    display: flex;
    align-items: center;
}

#header-kiri {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    /* color: #fff; */
    display: flex;
    align-items: center;
    /* flex: 1; */
}

#logo-company img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

#header-teks {
    display: flex;
    flex-direction: column; /* Membuat PT. Bintang di atas dan Mitra Kencana di bawah */
    justify-content: center; /* Menyelaraskan teks secara vertikal */
}

#header-atas {
    color: #ffd700;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;

    p {
        margin-block-end: 0;
        margin-block-start: 0;
    }
}

#header-bawah {
    padding-left: 40px;
    color: #ffd700;
    font-size: 24px;
    font-weight: bold;

    p {
        margin-block-end: 0;
        margin-block-start: 0;
    }
}

/* Burger Icon */
#burger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    margin-left: auto;
    z-index: 999;
}

.burger-menu-list {
    display: none; /* Sembunyikan menu burger secara default */

    li {
        list-style-type: none;
        margin: 15px 0px;
    }
}

.navbar-links ul {
    display: flex; /* Tampilkan menu horizontal secara default */
}

.navbar-links {
    display: flex;
    flex-direction: row;
}

#header-kanan {
    margin: 0 auto;
    padding: 0;
    /* width: 100%; */
    text-align: center;
    /* flex: 2; */
}

#header-kanan ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#header-kanan ul li {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    /* display: inline;  */
    cursor: pointer;
}

#header-kanan ul li a {
    text-decoration: none;
    color: #ffd700;
}

.cart-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px; /* Lebih lebar untuk tampilan yang lebih luas */
    height: 100%;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.25s ease-in-out; /* Animasi transisi saat muncul */
    z-index: 999;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px; /* Membulatkan sudut kiri cart */
}

.cart-menu.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px; /* Memberikan jarak lebih */
}

.cart-header h3 {
    font-size: 1.5em;
    color: #2c3e50;
}

.cart-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.cart-body ul {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
}

.cart-item:hover {
    background-color: #f9f9f9;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sedikit bayangan di gambar */
}

.cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-info .nama-produk {
    font-size: 1.1em;
    color: #34495e;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
/* Toast Container */
#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

/* Toast Message */
#toast-message {
    display: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}
#cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 12px;
    position: relative;
}

/* CSS untuk div tombol minus, plus, dan delete */
.cart-item-quantity .quantity-control,
.delete-control {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    background-color: #f57c00; /* Sama seperti sebelumnya */
    border-radius: 5px; /* Membulatkan sudut */
    margin: 0 5px; /* Jarak antar elemen */
    color: white;
    transition: background-color 0.3s ease;
}
.quantity-control .span,
.delete-control .span {
    color: #fff;
}

.cart-item-quantity .quantity-control:hover,
.delete-control:hover {
    background-color: #ff9800; /* Warna berubah saat hover */
}

.delete-control {
    background-color: #e74c3c; /* Merah untuk tombol delete */
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.delete-control:hover {
    background-color: #c0392b; /* Lebih gelap saat hover */
}

.cart-item-quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    font-size: 16px;
}

.cart-total {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
    color: #2c3e50;
}

.close-cart {
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #f57c00;
    transition: color 0.3s ease;
}

.close-cart:hover {
    color: #ff9800;
}

/* Button to open cart */
.open-cart-btn {
    /* position: fixed; */
    /* width: 50px;
    height: 50px; */
    top: 20px;
    right: 20px;
    /* background-color: #27ae60; */
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    /* z-index: 101; */
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 999; */
}

.open-cart-btn:hover {
    /* background-color: #2ecc71; */
    transform: scale(1.05); /* Efek hover membesarkan sedikit */
}

#btnBeli {
    text-align: center;
    margin-bottom: 40px;
    padding: 15px;
    background-color: #27ae60;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    #container-beli {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        #text-button {
            font-size: 16px;
        }
    }
}

#btnBeli:hover {
    background-color: #2ecc71;
    transform: translateY(-2px); /* Efek hover sedikit naik */
}

/* Produk */
#product-page {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
}

#co-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 100px;
}

/* Main Image and Thumbnails */
#image-produk {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    /* width: 100%; */
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.thumbnail-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
    width: max-content; /* Ensures the container is wide enough for all images */
}

.thumbnail-images img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid #8b5d33; /* Dark bamboo border */
}

.thumbnail-images img:hover {
    transform: scale(1.1);
}

/* Product Details Section */
#keterangan-produk {
    width: 45%;
}

#nama-produk #nama {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
}

#harga-produk #harga {
    font-size: 1.5rem;
    margin: 0 auto 20px auto;
}

#deskripsi-produk h3 {
    font-size: 1.4rem;
    margin: 0 auto;
}

#deskripsi-text #deskripsi {
    line-height: 1.6;
    color: #4d4d4d;
    margin: 0 auto;
    display: -webkit-box; /* Create a flex container */
    -webkit-box-orient: vertical; /* Set the box to be oriented vertically */
    -webkit-line-clamp: 5; /* Limit to 5 lines */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Optional: Add ellipsis at the end of the text */
}

#show-more-btn {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: #1a7f44; /* Blue color */
    background-color: transparent; /* No background color */
    border: none; /* Remove border */
    font-size: 1rem; /* Font size */
    text-decoration: none;
    padding: 5px 0; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
}

#berat {
    font-weight: bold;

    #berat-barang,
    #gram {
        font-weight: normal;
    }
}

#stock {
    font-weight: bold;

    #angka-barang,
    #stok-buah {
        font-weight: normal;
    }
}

#jumlah-produk #text-stock {
    font-size: 1rem;
}

#text-atur-produk {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.quantity-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}

.qty {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 16px;
    outline: none;
    margin: 0 5px;
    -moz-appearance: textfield;
    background-color: #fafaff;
}

.qty::-webkit-outer-spin-button,
.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-btn {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.quantity-btn:focus {
    outline: none;
}

.quantity-btn:disabled {
    color: #ddd;
    cursor: not-allowed;
}

/* Subtotal Section */
#container-total-produk {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
}

#sub-text #subtotal-produk {
    margin-right: 10px;
}

#tot_bayar {
    color: #1a7f44;
}

/* #harga-total input[type="number"] {
    font-size: 1.2rem;
    color: #1a7f44;
    font-weight: bold;
    border: none;
    background: transparent;
} */

/* Add to Cart Button */
#btnAddCart {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnAddCart:hover {
    background-color: #218838;
}

#container-keranjang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

#text-button {
    font-weight: bold;
}

.keranjang .material-symbols-outlined {
    font-size: 28px;
    padding-top: 5px;
}

/* Modal isi biodata */
.modal {
    display: none; /* Awalnya disembunyikan */
    position: fixed; /* Tetap di layar */
    z-index: 999; /* Tetap di atas elemen lainnya */
    left: 0;
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
    overflow: hidden; /* Mengunci halaman belakang agar tidak bisa discroll */
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Warna latar belakang hitam semi-transparan */
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 40px;
    border: none;
    width: 40%; /* Lebar modal */
    max-height: 80%; /* Modal akan menyesuaikan hingga maksimal 90% dari tinggi layar */
    overflow-y: scroll; /* Konten di dalam modal bisa discroll */
    border-radius: 10px;
    position: relative;
    animation: fadeIn 0.3s; /* Efek animasi muncul */
}

/* Menyembunyikan scrollbar namun tetap memungkinkan scroll */
.modal-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.modal-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.close {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
}

#header-modul h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #27ae60;
    outline: none;
}

.form-group .required {
    color: red;
    margin-left: 5px;
}

.submit-btn {
    background-color: #27ae60;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #2ecc71;
}

.checkout-button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

#container-ongkir {
    display: flex;
    align-items: center; /* Agar teks sejajar secara vertikal */
    gap: 10px; /* Menambahkan jarak antar elemen */
    margin: 30px;
    justify-content: end;
}

#ongkir {
    font-weight: bold;
    color: #2c3e50;
    font-size: 18px;
}

#cost {
    font-weight: normal;
    font-size: 18px;
    color: #e74c3c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Gaya untuk bagian Produk Lainnya */
#produk-section {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produk-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

#border-container {
    width: 100%;
    border-top: solid 1px #d3d3d3;
}

/* Grid Layout untuk Produk Lainnya */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Pusatkan grid produk */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Desain Kartu Produk */
.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    width: 200px; /* Tentukan lebar tetap untuk kartu produk */
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Gambar Produk */
.product-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

/* Informasi Produk */
.product-info {
    padding: 15px;
    /* text-align: center; */
}

.product-info h3 {
    font-size: 1.1em;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-info p {
    font-size: 1em;
    color: #27ae60;
    margin: 8px 0;
    font-weight: bold;
}

/* Tombol Lihat Detail */
.btn-view-detail {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color: #fff;
    background-color: #27ae60;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-view-detail:hover {
    background-color: #219150;
}

#footer-copyright {
    background-color: #000; /* Warna latar belakang hitam */
    color: #ccc; /* Warna teks abu-abu */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto;
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
    #logo-company img {
        width: 65px;
    }

    #content {
        gap: 30px;
    }
}

@media (max-width: 992px) {
    #navbar {
        flex-direction: row;
        align-items: center;
    }

    #burger-menu {
        display: block; /* Tampilkan ikon burger */
        cursor: pointer;
        font-size: 30px;
        color: #fff;
        margin-left: auto;
        z-index: 999;
    }

    #burger-menu.fixed {
        position: fixed; /* Tetap di tempat saat di-scroll */
        right: 40px;
        z-index: 999;
        top: 25px;
    }

    #header-kanan {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-links ul li:nth-child(1),
    .navbar-links ul li:nth-child(2) {
        display: none; /* Sembunyikan "Home" dan "Catalog" */
    }

    .burger-menu-list {
        position: fixed;
        background-color: #000;
        color: #fff;
        height: 100vh; /* Menyesuaikan tinggi dengan layar */
        width: 50%;
        top: 0;
        right: -50%; /* Initial position, hidden off-screen */
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        padding-top: 150px;
        font-size: 18px;
        z-index: 998;
        overflow-y: auto; /* Tambahkan ini jika isi lebih dari tinggi layar */
    }

    .burger-menu-list li a {
        color: #fff;
        text-decoration: none;
        margin: 15px 0;
    }

    .burger-menu-list a:hover {
        color: #ccc;
    }

    .burger-menu-list.show {
        right: 0; /* Slide in dari kanan */
    }

    #header-atas,
    #header-bawah {
        font-size: 20px;
    }

    #logo-company img {
        width: 50px;
    }

    #content {
        flex-direction: column;
        align-items: center;
    }

    #keterangan-produk {
        width: 100%;
        margin-top: 20px;
    }

    .cart-menu {
        width: 280px;
    }

    .open-cart-btn {
        /* display: inline-block; */
        width: 60px;
        height: 60px;
        /* font-size: 22px; */
    }
    .open-cart-btn .material-symbols-outlined {
        font-size: 30px;
    }
    #btnBeli {
        padding: 12px;
        font-size: 14px;
    }

    #btnAddCart {
        font-size: 14px;
    }
}

/* @media (min-width: 768px) {
    .product-card {
        width: calc(20% - 20px);
    }
} */

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #background {
        padding: 30px 0;
    }

    #image-produk {
        height: 350px;
        width: 100%;
        overflow: hidden;
    }

    .thumbnail-images img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
        border: 1px solid #8b5d33; /* Dark bamboo border */
    }

    #btnBeli {
        padding: 10px;
        font-size: 13px;
    }

    #btnAddCart {
        font-size: 13px;
    }

    #tot_bayar {
        width: 130px;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
    }

    .cart-menu {
        width: 80vw; /* Perbesar width di perangkat kecil untuk tampilan yang lebih baik */
        padding: 15px; /* Kurangi padding agar lebih sesuai di perangkat kecil */
    }

    .cart-header h3 {
        font-size: 1.3em; /* Kurangi font-size untuk perangkat kecil */
    }

    .cart-item img {
        width: 40px; /* Kurangi ukuran gambar produk */
        height: 40px;
    }

    .cart-item-quantity .quantity-control,
    .delete-control {
        width: 25px; /* Kurangi ukuran tombol kontrol */
        height: 25px;
        font-size: 16px;
    }

    .cart-item-quantity input {
        width: 40px; /* Kurangi lebar input kuantitas */
        font-size: 14px;
    }

    .cart-total {
        font-size: 1.2em; /* Kurangi ukuran total cart di perangkat kecil */
    }

    .product-grid {
        gap: 10px;
    }

    .product-card {
        width: calc(
            33.33% - 10px
        ); /* Menampilkan 2 produk per baris dengan gap */
    }

    .product-image img {
        height: 140px; /* Sesuaikan tinggi gambar untuk layar kecil */
    }

    .product-info h3 {
        font-size: 1.1em;
        color: #333;
        font-weight: bold;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Batasi maksimal 2 baris */
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    .product-info p {
        font-size: 0.9em;
    }

    .btn-view-detail {
        padding: 6px 12px;
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    #content {
        padding: 15px;
    }

    #header-teks {
        display: none;
    }

    #image-produk {
        height: 300px;
    }

    #nama-produk h1 {
        font-size: 24px;
    }

    #harga-produk p {
        font-size: 18px;
    }

    #deskripsi-produk h2 {
        font-size: 18px;
    }

    #deskripsi-produk p {
        font-size: 14px;
    }

    .thumbnail-carousel {
        width: 100%; /* Full width of the container */
    }

    .thumbnail-images {
        display: flex;
        gap: 5px; /* Reduced gap for small screens */
    }

    .thumbnail-images img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
        border: 1px solid #8b5d33; /* Dark bamboo border */
    }

    .open-cart-btn {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .open-cart-btn .material-symbols-outlined {
        font-size: 30px;

        .cart-menu {
            width: 250px;
        }
    }

    .product-card {
        width: calc(50% - 10px); /* Menampilkan 2 produk per baris dengan gap */
    }
}
