@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#background {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* TIPE PRODUK */
#bg-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    /* border: solid #000; */
}

#tipe-produk {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: center;
    gap: 20px;
}

#tipe-semua-produk {
    background-color: #ffd700;
    border: solid #fff;
    padding: 10px 30px;
    border-radius: 15px;
}

#tipe-toples-produk {
    border: solid #ffd700;
    padding: 10px 30px;
    border-radius: 15px;
}

#tipe-layangan-produk {
    border: solid #ffd700;
    padding: 10px 30px;
    border-radius: 15px;
}

#tipe-miniatur-produk {
    border: solid #ffd700;
    padding: 10px 30px;
    border-radius: 15px;
}

/* CARD PRODUK */
#content-produk {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    gap: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#card-container {
    background-color: #fff;
    border-radius: 10px;
    /* border: solid #000; */
    height: 180px;
    width: 180px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

#card-produk {
}

#card-stok {
    position: absolute;
    z-index: 1;
    right: 0px;
    background-color: #32ff32;
    padding: 5px;
    border-radius: 0px 10px;
    /* box-shadow: 0 8px 8px rgba(94, 94, 94, 0.5); */
}

#card-image {
    margin: 0 auto;
    padding: 0;
    height: 120px;
    z-index: 0;
    overflow: hidden;
}

#card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#card-text {
    padding: 5px 5px;
}

#card-text #nama-produk {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#card-text #harga-produk {
}

/* Button Page */
#container-page-button {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

#page-button {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* Button Isi Biodata */
#btnBeli {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#container-biodata {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd700;
    gap: 5px;
    border-radius: 20px;
}

#container-biodata .biodata {
}

#text-button {
}

/* Modal isi biodata */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
