/* Tabel Pimpinan */
#table-pimpinan {
    /* width: 95%; */
    padding-bottom: 20px;
    padding-right: 25px;
    margin: 0 auto;
}

#table-pimpinan table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#table-pimpinan th,
#table-pimpinan td {
    padding: 10px 0px 10px 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#table-pimpinan th:last-child,
#table-pimpinan td:last-child {
    border-right: none;
}

#table-pimpinan thead th {
    background-color: #d9d9d9;
    border-right: 1px solid #ccc;
    text-align: center;
}

#table-pimpinan th:nth-child(1),
#table-pimpinan td:nth-child(1) {
    width: 25px;
}

#table-pimpinan th:nth-child(2),
#table-pimpinan td:nth-child(2) {
    width: 25px;
}

#table-pimpinan th:nth-child(3),
#table-pimpinan td:nth-child(3) {
    width: 150px;
}

#table-pimpinan th:nth-child(4),
#table-pimpinan td:nth-child(4) {
    width: 150px;
}

#table-pimpinan th:nth-child(5),
#table-pimpinan td:nth-child(5) {
    width: 300px;
}

#table-pimpinan th:nth-child(6),
#table-pimpinan td:nth-child(6) {
    width: 75px;
}

#table-pimpinan .details-row-pimpinan {
    display: none;
}

#table-pimpinan .details-row-pimpinan div {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#table-pimpinan .details-row-pimpinan div:last-child {
    border-bottom: none;
}

#table-pimpinan .btn-details-pimpinan {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

#table-pimpinan .btn-details-pimpinan.red {
    background-color: red;
}

#table-pimpinan .btn-details-pimpinan .material-symbols-outlined {
    color: white;
}

#btn-cfg-pimpinan {
    margin-top: auto;
    /* padding: 12px 10px; */
    /* margin-left: -10px; */
    display: flex;
    align-items: center;
    /* background: #94df07; */
    border-radius: 50px;
    justify-content: center;
    gap: 10px;
}

#btn-cfg-pimpinan .btn-edit-pimpinan {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#btn-cfg-pimpinan .btn-delete-pimpinan {
    padding-top: 3px;
    cursor: pointer;
}

#table-pimpinan .btn-edit-pimpinan .material-symbols-outlined {
    color: blue;
}

#table-pimpinan .btn-delete-pimpinan .material-symbols-outlined {
    color: red;
}

#table-pimpinan #btn-edit-pimpinan i {
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

#table-pimpinan #btn-edit-pimpinan i:last-child {
    margin-right: 0;
}

#table-pimpinan #btn-edit-pimpinan i.fa-pen-to-square {
    color: blue;
}

#table-pimpinan #btn-edit-pimpinan i.fa-trash {
    color: red;
}

#table-pimpinan .btn-toggle .fa {
    margin: 0;
    padding: 0;
}

#table-pimpinan td span.btn-toggle,
#table-pimpinan td span#btn-edit {
    display: flex;
    align-items: center;
}

.desc-limit {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#btn-cfg-detail {
    display: none;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    #table-pimpinan {
        padding-bottom: 0;
        padding-right: 0;
    }
    #bo-isi-content-pimpinan {
        padding: 20px;
    }

    #table-pimpinan th:nth-child(1),
    #table-pimpinan td:nth-child(1) {
        width: 30px;
    }

    #table-pimpinan th:nth-child(5),
    #table-pimpinan td:nth-child(5) {
        width: 250px;
    }
}

@media (max-width: 768px) {
    #table-pimpinan th:nth-child(5),
    #table-pimpinan td:nth-child(5) {
        display: none;
    }
}

@media (max-width: 576px) {
    #table-pimpinan th:nth-child(6),
    #table-pimpinan td:nth-child(6) {
        display: none;
    }

    #table-pimpinan th:nth-child(4),
    #table-pimpinan td:nth-child(4) {
        border-right: none;
    }

    #btn-cfg-detail {
        display: flex;
        gap: 10px;
        justify-content: center;

        .btn-edit {
            flex: 1;
            background-color: blue;
            border-radius: 999px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .material-symbols-outlined {
                color: #fff;
            }

            #edit-text {
                color: #fff;
            }
        }

        .btn-delete {
            flex: 1;
            background-color: red;
            border-radius: 999px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .material-symbols-outlined {
                color: #fff;
            }

            #delete-text {
                color: #fff;
            }
        }
    }
}
