@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body {
    background: #d2d2d2;
    min-height: 100vh;
} */

/* Content */
#bg-content {
    /* position: relative; */
    /* z-index: 2; */
    /* background: #d2d2d2; */
    width: 100%;
    /* min-height: 83vh; */
    padding: 30px 0px 20px 90px;
}

#bo-content {
    margin: 0 auto;
    width: 100%;
}

#content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Btn Tambah Admin */
.bg-tambah-data {
    margin-top: 50px;
    /* margin-top: auto; */
    /* padding: 12px 10px; */
    /* margin-left: -10px; */
    /* display: flex; */
    padding: 5px;
    align-items: center;
    margin-left: auto;
    background: #94df07;
    border-radius: 50px;
    margin-right: 35px;
    width: 10%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.bg-tambah-data:hover {
    background-color: #629405;
}

#bo-tambah-data {
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
    justify-content: center;
    text-align: center;
}

.icon-tambah-data {
    margin: 0;
    padding: 0;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
}

#bg-isi-content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#bo-isi-content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#bg-isi-content {
    margin-top: auto;
    padding: 10px 10px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    /* border-radius: 50px; */
    /* justify-content: space-between; */
}
